@import "mixins.less";

// Vertical grid

.rows
{
	width: 100%;
    height: 100%;
	display: -webkit-flex;
	display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
        
    &.with-gutters
    {
        > [class^="row-"], [class*=" row-"]
        {
            padding: @grid-gutter-height/2 0;            
        }
    }
}


// heights

.loop-grid-heights(@index, @total:@index) when (@index > 0) {

  .row-@{index} {
      height: @index/@total*100vh;
      box-sizing: border-box;
      .fill-area();
  }

  .row-@{index}-offset {
      margin-top: @index/@total*100vh;
  }
  
  // next iteration
  .loop-grid-heights((@index - 1), @total);
}

.loop-grid-heights(@grid-rows);

// horizontal grid

.columns
{
    width: 100%;
    height: 100%;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
        
    &.with-gutters
    {
        > [class^="col-"], [class*=" col-"]
        {
            padding: 0 @grid-gutter-width/2;            
        }
    }
}

// widths

.loop-grid-widths(@index, @total:@index) when (@index > 0) {

  .col-@{index} {
      width: @index/@total*100vw;
      box-sizing: border-box;
      .fill-area();
  }

  .col-@{index}-offset {
      margin-left: @index/@total*100vw;
  }
  
  // next iteration
  .loop-grid-widths((@index - 1), @total);
}

.loop-grid-widths(@grid-columns);
